@{
    ViewBag.Title = "Registration Successful";
}

<h2>Registration Successful</h2>

<p>You have been successfully registered to PlayLift.music. If you are not redirected automatically after 5 seconds, please click 
    <a href="@Url.Action("ManageBusiness", "Account")">here.</a>
</p>
