@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Technical contact:</span>
        <span>07843 608 441</span>
    </p>
    <p>
        <span class="label">Commercial contact:</span>
        <span>07595 371 228</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:jeanphilippe@totalresolutionmusic.com">jeanphilippe@totalresolutionmusic.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:nathan@totalresolutionmusic.com">nathan@totalresolutionmusic.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:info@totalresolutionmusic.com">info@totalresolutionmusic.com</a></span>
    </p>
</section>

