@{
    ViewBag.Title = "I am...";
    Layout = "~/Views/Shared/_Layout_landing.cshtml";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<div id="boxes-holder">
    <a href="/Home/Artist">
        <div class="user-type push-down17">
            <img src="~/Content/themes/trm/images/band.png" alt="Artist User" title="You are an artist. Click here to find out more..." />
        </div>
    </a>

    <a href="/Home/Business">
        <div class="user-type pad-left3pc push-down17">
            <img src="~/Content/themes/trm/images/business.png" alt="Business User" title="You are a business user. Click here to find out more..." />
        </div>
    </a>

    <a href="/Home/User">
        <div class="user-type pad-left3pc">
            <img src="~/Content/themes/trm/images/user.png" alt="Personal User" title="You are a personal user. Click here to find out more..." />
        </div>
    </a>

    <div class="clear"><!-- --></div>
</div>

@{
#if RELEASE
    <iframe id="youtube-video" src="//www.youtube.com/embed/nuIOYs-ziMQ" frameborder="0" allowfullscreen></iframe>


    <div id="social-feeds">
        <div id="twitter-feed">
            <h3>Twitter Feed <small>@("@")AudiostemMusic | CEO</small></h3>
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/audiostemmusic" data-widget-id="438436455644286976">Tweets by @("@")audiostemmusic</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>

        <div id="facebook-feed">
            <h3>Facebook Feed <small>official thread</small></h3>
            <div id="facebook_box">
                <div class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/pages/Resolution-Music-Management/162796900470378" data-width="368" data-height="600" data-show-faces="true" data-stream="true" force_wall="true" show_border="false" data-show-border="true" data-header="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;force_wall=true&amp;header=true&amp;height=600&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FResolution-Music-Management%2F162796900470378&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=true&amp;width=368">
                    <span style="vertical-align: bottom;">
                        <iframe name="f18ad619dc" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like_box Facebook Social Plugin"
                                src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D40%23cb%3Df28f816504%26domain%3Dwww.audiostem.co.uk%26origin%3Dhttp%253A%252F%252Fwww.audiostem.co.uk%252Ff22d480bc8%26relation%3Dparent.parent&amp;force_wall=true&amp;header=true&amp;height=600&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FResolution-Music-Management%2F162796900470378&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=true" class="" style="border: none; visibility: visible;"></iframe>
                    </span>
                </div>
            </div>
        </div>
    </div>
#endif
}