<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=.\PlayLift;Database=;Trusted_Connection=false;User=plmm_APP;Password=13webstreet$1"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="liveConnString"
      connectionString="Server=.\PlayLift;Database=;Trusted_Connection=false;User=plmm_APP;Password=13webstreet$1"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!-- Live -->
    <add key="FacebookAppID" value="463138087149120" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="FacebookAppSecret" value="0be3e8c0e2841516ecb4ee8417904394" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    -->
    <customErrors defaultRedirect="/Home/Error" mode="RemoteOnly" xdt:Transform="Replace">
    </customErrors>

  </system.web>
</configuration>