button {
    background: #88c43b;
    color: #333;
}
body {
	background: #133447;
	color: #fff;
}
.main-menu-trigger{
	background: #133447;
}
.main-menu-trigger > a {
	color:#fff;		
}
.mp-level {

	background: #133447;

}
.navbar-focus {
	background: #133447;

}

.modal-header{
	background: #133447;
}
