           <h3>Search Results<br />
                             <small>
                               <p>Lorem ipsum dolor sit amet</p>       
                            </small>
                        <hr />

						
                        <h4>Albums</h4>
						<album id="00001">
							<h5>Album title</h5>
							<button class="album-addTo-currentPlaylist">Add this album to playlist</button>
							<hr>
							   <div class="clones sort scroller-inner">
					
								<div id="013" class="music-item-container" data-toggle="context" style="background-image: url('images/melody_g.jpg')">
									<div id="file_013"class="music-play" data-path="songs/Melody Gardot - Baby I'm A Fool.mp3"></div>
									<div class="music-info">
										
										<div class="music-song">Baby I'm A Fool</div><small> by </small>								
										<div class="music-artist">Melody Gardot</div> 

									</div>
                            <!-- tile interaction -->                                                                 
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
								</div>
							
							
							<div id="014" class="music-item-container" data-toggle="context" style="background-image: url('images/touch_a.jpg')">
									<div id="file_014" class="music-play" data-path="songs/Touch And Go - Ecoutez Repetez.mp3"></div>
									<div class="music-info">
										
										<div class="music-song">Ecoutez Repetez</div><small> by </small>								
										<div class="music-artist">Touch And Go</div> 

									</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
								</div>
							
							<div id="015" class="music-item-container" data-toggle="context"style="background-image: url('images/nouvelle_v.jpg')">
									<div id="file_015" class="music-play" data-path="songs/Nouvelle Vague - In A Manner of Speaking.mp3"></div>
									<div class="music-info">
										
										<div class="music-song">In A Manner of Speaking</div><small> by </small>								
										<div class="music-artist">Nouvelle Vague</div> 

									</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
							</div>							
	
							</div>
						</album>
				<!--end albums -->	