@if (Request.IsAuthenticated)
{
    var manageAction = "Manage";

    if (Roles.IsUserInRole(User.Identity.Name, "Artist"))
    {
        manageAction = "ManageArtist";
    }
    else if (Roles.IsUserInRole(User.Identity.Name, "Business"))
    {
        manageAction = "ManageBusiness";
    }

    <text>
        Hello, @Html.ActionLink(User.Identity.Name, @manageAction, "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    <ul>
        @{
            string register = "Register as an artist or band";
            string registerAction = "RegisterArtist";

            if (Request.Url.AbsolutePath.ToLower().Contains("business"))
            {
                register = "Register as a business";
                registerAction = "RegisterBusiness";
            }
        }
        <li>@Html.ActionLink(register, registerAction, "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
