@media handlheld and (max-width: 640px), handlheld and (max-height: 960px) {
    body {
        width: 640px;
        height: 960px;
        align-content: center;
    }
}

@media handlheld and (max-width: 640px), handlheld and (max-height: 1136px) {
    body {
        width: 640px;
        height: 1136px;
        align-content: center;
    }
}

#map-canvas {
    height: 100%;
    min-height: 400px;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
}

#venues > div.venue {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #999;
    text-align: left;

    background: -webkit-linear-gradient(left, #6EAA20, #8bc53f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #6EAA20, #8bc53f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #6EAA20, #8bc53f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #6EAA20, #8bc53f); /* Standard syntax */
}

    #venues > div.venue:hover {
        cursor: pointer;
        color: #fff;
        background-color: #999;
    }
