html, body {
    height: 100%;
}

body {
    font-family: "proxima-nova", sans-serif;
    font-size: 12pt;
    font-weight: 200;
    color: rgb(124, 124, 124);
}

header {
    background-color: #222;
}

h1, h2, h3 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: normal;
    line-height: 40px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1 {
    margin: 0 0 5px;
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
    font-weight: 300;
    color: #8bc53f;
}

a:link, a:visited, a:active, a:hover {
    color: #bc360a;
    text-decoration: none;
}

label {
    font-size: 1.2em;
    font-weight: normal;
}

footer {
    height: 100px;
    width: 100%;
    margin-top: 20px;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

footer, .push {
    height: 120px;
}

.footer {
    min-height: 20px;
    padding: 0px 0 !important;
    background: #222;
    display: block;
}

.pad {
    margin-top: 18px;
}

.pad-right20 {
    margin-right: 20px;
}

.pad-left3pc {
    margin-left: 3%;
}

.pad-left20 {
    margin-left: 20px;
}

.pad-left40 {
    margin-left: 40px;
}

.pad-left5pc {
    margin-left: 5%;
}

.clear {
    clear: both;
}

.user {
    background-image: url(images/user.jpg);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

img.loader {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 50%;
    margin-bottom: 50%;
}

/* Landing page */

.main-content {
    width: 50%;
    height: auto;
    padding: 0px;
}

.content-wrapper {
    
}

.push-down17 {
    margin-top: 17px;
}

#landing_logo {
    width: 25%;
    padding-top: 20px;
    text-align: center;
}

    #landing_logo img {
        padding-left: 30px;
    }

    #landing_logo div#facebook_box {
        padding-left: 30px;
        border-radius: 5px; 
        overflow: auto; 
    }

#landing_blog {
    width: 25%;
    padding-top: 20px;
    text-align: center;
}

    #landing_blog a {
        text-decoration: none;
    }

#boxes-holder {
    margin: 0 auto;
}

.user-type {
    float: left;
    border: 1px solid #8bc53f;
    border-radius: 5px;
}

.user-type img {
    width: 100%;
    height: 100%;
}

#youtube-video {   
    width: 100%;  
    margin: 0 auto;
    margin-top: 20px;
}

div#social-feeds {
    margin: auto;
}

div#twitter-feed {
    float: left;
}

div#facebook-feed {
    float: right;
}

@media only screen and (max-width: 1920px) {
    #boxes-holder {
        width: auto;
    }

    .user-type {
        width: 31% !important;
        width: 250px;
        height: 250px;
    }

    #youtube-video {
        height: 480px;
    }

    div#facebook_box iframe {
        width: 368px;
        height: 600px;
    }

    #landing_blog img#blog-screenshot {
        border-radius: 20px;
        moz-border-radius: 20px;
    }
}

@media only screen and (max-width: 1440px) {
    #boxes-holder {
        width: 660px;
    }

    .user-type {
        width: 31% !important;
        width: 180px;
        height: 180px;
    }

    #youtube-video {
        height: 360px;
    }

    div#facebook_box iframe {
        width: 268px;
        height: 600px;
    }

    #landing_blog img#blog-screenshot {
        width: 200px;
        border-radius: 20px;
        moz-border-radius: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    #boxes-holder {
        width: 510px;
    }

    .user-type {
        width: 30% !important;
        width: 150px;
        height: 150px;
    }

    #youtube-video {
        height: 315px;
    }

    div#facebook_box iframe {
        width: 168px;
        height: 600px;
    }

    #landing_blog img#blog-screenshot {
        width: 100px;
        border-radius: 5px;
        moz-border-radius: 5px;
    }
}

/* End Landing page */

/* Registration */

#login {
    color: #fff;
}

    #login a {
        background-color: #fff;
    }

ul#genreList {
    list-style: none;
}

.registrationForm {
    margin-bottom: 100px;
}

/* End registration */

/* Profile */

p.validateTips {
    color: red;
}

img.artist, img.album {
    width: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #ababab;
}

img.profile {
    width: 100px;
    margin-right: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #ababab;
}

img.royalty {
    width: 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #ababab;
}

img.album {
    margin-top: 20px;
    width: 150px;
}

img.thumbnail {
    width: 36px;
    vertical-align: middle;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #ababab;
}

ol#AlbumList {
    margin-top: 10px;
}

img.profile_icon {
    cursor: pointer;
    width: 24px;
    vertical-align: middle;
}

img.icon {
    width: 18px;
    vertical-align: middle;
    cursor: pointer;
}

section.leftCol {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
    padding-right: 5%;
}

section.rightCol {
    margin-left: 5%;
    float: left;
    width: 34%;
}

#socialLoginForm h2 {
    margin-bottom: 5px;
}

/* End profile */

/* Album section */

li.album {
    margin-top: 5px;
}

/* End album section*/

/* Song section */

ol.albumSongs {
    padding-left: 5px;
}

    ol.albumSongs li {
        margin-top: 5px;
    }

/* End song section */

a.strapline {
    font-family: inherit;
    font-weight: normal;
    font-size: 16pt;
    line-height: 60px;
    color: #fff;
    text-rendering: optimizelegibility;
}

.site-logo a:hover {
    text-decoration: none;
}

a.footer {
    color: #7c7c7c;
    text-decoration: none;
}

    a.footer:hover {
        color: #8bc53f;
        background-color: #222;
    }

ol, ul {
    list-style-type: none;
}

    ol.classic {
        list-style-type: decimal;
    }

    ul#menu {
        font-weight: normal;
    }

        ul#menu li a:hover {
            color: #bc360a;
        }

img.play {
    vertical-align: middle;
    cursor: pointer;
    width: 24px;
}

.copyright {
    margin-top: 13px;
}

/* Admin section */

a.edit_link {
    width: 16px;
    background-image: url(images/edit.png);
}

img.activated, img.deactivated {
    width: 16px;
    cursor: pointer;
}
