@{
    ViewBag.Title = "Artist Profile";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<h2>Artist Profile</h2>

<h3>James Hawkinson</h3>

<img alt="Artist Name" src="~/Content/themes/mobile/images/artist-profile.png" width="150" style="border-radius: 75px; box-shadow: 5px 5px 10px #ababab;" />
<br /><br />
<label>PLAYING TONIGHT</label>
<br />
<a href="#">Click to see where</a>
