@model TRMAudiostem.Models.ArtistAlbumModel

@{
    ViewBag.Title = "Manage your albums";
}

<h3>
    Albums
    <img id="new-album" class="icon" src="~/Content/themes/trm/images/icons/add_32x32.png" alt="Add song" title="Add song" />
</h3>

<p class="message-success">@ViewBag.StatusMessage</p>

@Html.Partial("ArtistAlbumList", (List<DomainModel.Entities.Album>)ViewBag.ArtistAlbums)

<div id="dialog-form">
    @Html.Partial("EditAlbum")
</div>

@Scripts.Render("~/bundles/jqueryui")
<script>
    $(function () {
        loadAlbumUploadForm();
    });
</script>