
<nav>
    <ul id="dashboard-nav">
        <li><a href="#" onclick="loadView('dashboard-index', '/ArtistDashboard/_SongsPlayed/');">Songs</a></li>
        <li><a href="#" onclick="loadView('dashboard-index', '/ArtistDashboard/_Venues/');">Venues</a></li>
        <li><a href="#" onclick="loadView('dashboard-index', '/ArtistDashboard/_VenuesMap/');">Map</a></li>
    </ul>
</nav>

