
<nav>
    <ul id="dashboard-nav">
        <li><a href="#" onclick="loadView('dashboard-index', '/BusinessDashboard/_Artists/');" class="selected">Artists</a></li>
        <li><a href="#" onclick="loadView('dashboard-index', '/BusinessDashboard/_Activity/');">Activity</a></li>
    </ul>
</nav>

