@model List<DomainModel.Entities.BusinessUser>
@{
    ViewBag.Title = "Venues";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@TRMAudiostem.AudiostemBase.GoogleMapsAPIKey">
</script>

<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: { lat: @TRMAudiostem.AudiostemBase.DefaultLat, lng: @TRMAudiostem.AudiostemBase.DefaultLong },
            zoom: 5
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // create the marker of the first venue
        var venue1Latlng = new google.maps.LatLng(51.519756, -0.131745);
        var marker1 = new google.maps.Marker({
            position: venue1Latlng,
            title:"College Arms",
            icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=1|FE6256|000000"
        });

        // To add the marker to the map, call setMap();
        marker1.setMap(map);

        // create the marker of the second venue
        var venue2Latlng = new google.maps.LatLng(51.345383, 1.187371);
        var marker2 = new google.maps.Marker({
            position: venue2Latlng,
            title:"The Gate Inn",
            icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=2|FE6256|000000"
        });

        // To add the marker to the map, call setMap();
        marker2.setMap(map);

        // create the marker of the third venue
        var venue3Latlng = new google.maps.LatLng(53.324888, -6.235964);
        var marker3 = new google.maps.Marker({
            position: venue3Latlng,
            title:"Web Summit",
            icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=3|FE6256|000000"
        });

        // To add the marker to the map, call setMap();
        marker3.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<section>
    <div id="map-canvas"></div>
</section>
<section>
    @Html.Partial("_VenuesList", (List<DomainModel.Entities.BusinessUser>)Model)
</section>


