                    <div id="mainViewQueue" class="viewBlock" view-type="container">
                         <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <h3>Currently playing <span class="songTotal"></span> songs<br />
                             <small>
                               <h5>Any change you make to this playlist is automatically saved</h5>
                            </small>
                         </h3>  
                             </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            </div>
                        </div>     
             
                        <br />      
                                            
                    <div id="sortable" class="droparea sort scroller-inner">
  
						<div id="001" class="music-item-container"  data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/amy_w.jpg")')">
							<div id="file_001"class="music-play" data-path="songs/Amy Winehouse - Some Unholy War.mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Some Unholy War</div><small> by </small>								
								<div class="music-artist">Amy Winehouse</div> 
								
							</div>
                            <!-- tile interaction -->                                                                 
                            <div class="music-action music-artistProfile" data-toggle="artist-page" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="love-this" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="remove-this" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  data-toggle="add-this" title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->       
                            <div  class="glare"></div>
						</div>
						
						<div id="002" class="music-item-container" data-toggle="context" style="background-image: url('images/amy_w.jpg')">
							<div id="file_002" class="music-play" data-path="songs/Amy Winehouse - Stronger than Me.mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Stronger than Me</div><small> by </small>								
								<div class="music-artist">Amy Winehouse</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>
						
						<div id="003" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/amy_w.jpg")')">
							<div id="file_003" class="music-play" data-path="songs/Amy Winehouse - Tears Dry On Their Own.mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Tears Dry On Their Own</div><small> by </small>								
								<div class="music-artist">Amy Winehouse</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>
						
						<div id="004" class="music-item-container" data-toggle="context" style="background-image: url('@Url.Content("~/Content/themes/cloudPlayer/images/amy_w.jpg")')">
							<div id="file_004" class="music-play" data-path="songs/Amy Winehouse - Wake Up Alone.mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Wake Up Alone</div><small> by </small>								
								<div class="music-artist">Amy Winehouse</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>

						<div id="005" class="music-item-container" data-toggle="context" style="background-image: url('images/antony_r.jpg')">
							<div id="file_005" class="music-play" data-path="songs/Antony Raijekov - Deep blue (2005).mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Deep blue</div><small> by </small>								
								<div class="music-artist">Antony Raijekov</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>

						<div id="006" class="music-item-container"  data-toggle="context"  style="background-image: url('images/antony_r.jpg')">
							<div id="file_006" class="music-play" data-path="songs/Antony Raijekov - Don-ki-Not (2003).mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Don-ki-Not</div><small> by </small>								
								<div class="music-artist">Antony Raijekov</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>

						<div id="007" class="music-item-container" data-toggle="context" style="background-image: url('images/antony_r.jpg')">
							<div id="file_007" class="music-play" data-path="songs/Antony Raijekov - Drop of whisper (2005).mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Drop of whisper</div><small> by </small>								
								<div class="music-artist">Antony Raijekov</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>

						<div id="008" class="music-item-container" data-toggle="context"   style="background-image: url('images/antony_r.jpg')">
							<div id="file_008" class="music-play" data-path="songs/Antony Raijekov - EXIT 65 (2005).mp3"></div>
							<div class="music-info">
								
								<div class="music-song">EXIT 65</div><small> by </small>								
								<div class="music-artist">Antony Raijekov</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>	

						<div id="009" class="music-item-container" data-toggle="context" style="background-image: url('images/antony_r.jpg')">
							<div id="file_009" class="music-play" data-path="songs/Antony Raijekov - Fidder (2004).mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Fidder</div><small> by </small>								
								<div class="music-artist">Antony Raijekov</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>

						<div id="010" class="music-item-container" data-toggle="context"  style="background-image: url('images/antony_r.jpg')">
							<div id="file_010" class="music-play" data-path="songs/Antony Raijekov - Go 'n' Drop (2003).mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Go 'n' Drop</div><small> by </small>								
								<div class="music-artist">Antony Raijekov</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>	

						<div id="011" class="music-item-container" data-toggle="context" style="background-image: url('images/antony_r.jpg')">
							<div id="file_011" class="music-play" data-path="songs/Antony Raijekov - Lightout (2003).mp3"></div>
							<div class="music-info">
								
								<div class="music-song">Lightout</div><small> by </small>								
								<div class="music-artist">Antony Raijekov</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div> 

						<div id="012" class="music-item-container" data-toggle="context" style="background-image: url('images/frank_s.jpg')">
							<div id="file_012" class="music-play" data-path="songs/Frank Sinatra - I Get a Kick Out of You.mp3"></div>
							<div class="music-info">
								
								<div class="music-song">I Get a Kick Out of You</div><small> by </small>								
								<div class="music-artist">Frank Sinatra</div>
								
							</div>
                            <!-- tile interaction -->                             
                            <div class="music-action music-artistProfile" data-toggle="context" title="Artist's Page"><i class="fa fa-user"></i></div>
                            <div class="music-action music-love" data-toggle="context" title="Love this track"><i class="fa fa-heart"></i></div>
							<div class="music-action music-removeFrom-currentPlaylist" data-toggle="context" title="Remove from current playlist"><i class="fa fa-times-circle"></i></div>
							<div class="music-action music-addTo-currentPlaylist"  title="Add to current playlist"><i class="fa fa-plus-circle"></i></div>
                            <!-- tile interaction -->    
                            <div  class="glare"></div>
						</div>           
                                                             					
					</div><!-- /scroller-inner -->
                </div><!-- /mainViewQueue -->