
/* Currently playing */

img.currentAlbum {
    height: 200px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

/* Search */

ul#artistResults li img, ul#artistResults li span, ul.artistAlbums li img, ul.artistAlbums li span {
    margin-bottom: 5px;
    cursor: pointer;
}

ol.albumSongs, ul.artistAlbums, div#currentlyPlaying, ul#playlistSongs {
    display: none;
}

ul#playlistSongs {
    width: 100%;
    margin: 0; 
    padding: 0;
}

ul#playlistSongs li {
    width: 100%;
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    height: auto;
}

ul#playlistSongs li span {
    position: absolute; 
    margin-top: 0.2em;
    margin-left: -1.3em;
}

ol.albumSongs li {
    cursor: auto;
}

li.selectedSong {
    color: #bc360a;
}

img.artistThumbnail, img.albumThumbnail {
    width: 42px;
    vertical-align: middle;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

img.playlist, img.expand, img.remove {
    width: 24px;
    cursor: pointer;
    vertical-align: middle;
}

img.expand {
    width: 16px;
}