/* HelveticaNeue Font Family - 11 fonts*/

/* HelveticaNeue */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue.eot');
    src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeue.woff') format('woff'),
         url('HelveticaNeue.ttf') format('truetype'),
         url('HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HelveticaNeueMedium */
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('HelveticaNeueMedium.eot');
    src: url('HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueMedium.woff') format('woff'),
         url('HelveticaNeueMedium.ttf') format('truetype'),
         url('HelveticaNeueMedium.svg#ProximaNova-Black') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HelveticaNeueLight */
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('HelveticaNeueLight.eot');
    src: url('HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueLight.woff') format('woff'),
         url('HelveticaNeueLight.ttf') format('truetype'),
         url('HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HelveticaNeueUltraLight */
@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('HelveticaNeueUltraLight.eot');
    src: url('HelveticaNeueUltraLight.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueUltraLight.woff') format('woff'),
         url('HelveticaNeueUltraLight.ttf') format('truetype'),
         url('HelveticaNeueUltraLight.svg#HelveticaNeueUltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HelveticaNeueBold */
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('HelveticaNeueBold.eot');
    src: url('HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueBold.woff') format('woff'),
         url('HelveticaNeueBold.ttf') format('truetype'),
         url('HelveticaNeueBold.svg#HelveticaNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HelveticaNeueCondensedBlack */
@font-face {
    font-family: 'HelveticaNeueCondensedBlack';
    src: url('HelveticaNeueCondensedBlack.eot');
    src: url('HelveticaNeueCondensedBlack.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueCondensedBlack.woff') format('woff'),
         url('HelveticaNeueCondensedBlack.ttf') format('truetype'),
         url('HelveticaNeueCondensedBlack.svg#HelveticaNeueCondensedBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HelveticaNeueItalic */
@font-face {
    font-family: 'HelveticaNeueItalic';
    src: url('HelveticaNeueItalic.eot');
    src: url('HelveticaNeueItalic.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueItalic.woff') format('woff'),
         url('HelveticaNeueItalic.ttf') format('truetype'),
         url('HelveticaNeueItalic.svg#HelveticaNeueItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HelveticaNeueLightItalic */
@font-face {
    font-family: 'HelveticaNeueLightItalic';
    src: url('HelveticaNeueLightItalic.eot');
    src: url('HelveticaNeueLightItalic.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueLightItalic.woff') format('woff'),
         url('HelveticaNeueLightItalic.ttf') format('truetype'),
         url('HelveticaNeueLightItalic.svg#HelveticaNeueLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HelveticaNeueUltraLightItalic */
@font-face {
    font-family: 'HelveticaNeueUltraLightItalic';
    src: url('HelveticaNeueUltraLightItalic.eot');
    src: url('HelveticaNeueUltraLightItalic.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueUltraLightItalic.woff') format('woff'),
         url('HelveticaNeueUltraLightItalic.ttf') format('truetype'),
         url('HelveticaNeueUltraLightItalic.svg#HelveticaNeueUltraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HelveticaNeueBoldItalic */
@font-face {
    font-family: 'HelveticaNeueBoldItalic';
    src: url('HelveticaNeueBoldItalic.eot');
    src: url('HelveticaNeueBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueBoldItalic.woff') format('woff'),
         url('HelveticaNeueBoldItalic.ttf') format('truetype'),
         url('HelveticaNeueBoldItalic.svg#HelveticaNeueBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* HelveticaNeueCondensedBold */
@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url('HelveticaNeueCondensedBold.eot');
    src: url('HelveticaNeueCondensedBold.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeueCondensedBold.woff') format('woff'),
         url('HelveticaNeueCondensedBold.ttf') format('truetype'),
         url('HelveticaNeueCondensedBold.svg#HelveticaNeueCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}