<div class="site-title">
    <a href="/Home/Index">
        <img src="~/Images/icon_logo.gif" alt="Total Resolution Music Ltd logo" width="150" align="absmiddle" />
    </a>
    <br />
    @Html.ActionLink("audiostem music management", "Index", "Home", new { @class = "strapline" })
    <br />
    @Html.ActionLink("by Total Resolution Music Ltd", "Index", "Home", new { @class = "straplineBis" })
</div>
