button {
    background: #88c43b;
    color: #333;
}
body {
	background: #1c1c1c;
	color: #fff;
}
.main-menu-trigger{

	background: #373737;
}
.main-menu-trigger > a {
	color:#fff;		
}
.mp-level {

	background: #373737;

}
.navbar-focus {
	background: #373737;
	box-shadow: none;
}

.modal-header{
	background: #333;
}
