@model List<DomainModel.Entities.Artist>

<ul id="artistResults">
    @{foreach (var artist in (List<DomainModel.Entities.Artist>)Model)
      {
        <li>
            <img class="artistThumbnail" src="@PlayLift.PlayLiftBase.StreamingUrl@artist.ProfileImage" alt="artist profile image" onclick="toggleContainer('artistAlbums_@artist.ArtistId', 'expandalbums_@artist.ArtistId')" />
            <span onclick="toggleContainer('artistAlbums_@artist.ArtistId', 'expandalbums_@artist.ArtistId')">@artist.ArtistName</span>
            <img id="expandalbums_@artist.ArtistId" src="~/Content/themes/cloudplayer/images/expand.png" title="Click to view albums" alt="View albums" class="expand" onclick="toggleContainer('artistAlbums_@artist.ArtistId', 'expandalbums_@artist.ArtistId')" />
            <br />
            @Html.Action("_Albums", new { albums = artist.AlbumCollection, artist = artist })
        </li>
      }
    }
</ul>

