<h3>Currently playing</h3>
<div id="currentlyPlaying">
    <p>
        <img id="currentAlbumCover" class="currentAlbum" src="" alt="album cover image" />
    </p>
    <p>
        <span id="currentSongTitle"></span> from <span id="currentAlbumTitle"></span> by <span id="currentArtistName"></span>
    </p>
</div>
