<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <!-- PlayLift -->
    <add key="LocalTempFilePath" value="E:\temp\"/>
    <add key="InPutFilePath" value="E:\ffmpeg\in\"/>
    <add key="OutPutFilePath" value="E:\ffmpeg\out\"/>
    <add key="FFMpegPath" value="E:\ffmpeg\ffmpeg.exe"/>
    <add key="ThumbnailsPath" value="E:\ffmpeg\Thumbnails\"/>
    <add key="LogFilePath" value="E:\ffmpeg\logs\"/>
    <add key="LocalDownloadPath" value="E:\Users\Jean-Philippe\SkyDrive\Development\Projects\Playlift\Web Service\WebService\WebTestRig\Content\Downloads"/>
    <add key="LocalDownloadUrl" value="http://localhost:54051/Home/DownloadFile?fileName="/>

    <!-- AWS -->
    <add key="AWSAccessKey" value="AKIAJCHWEMYQ5UXHOWSQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
  <connectionStrings>
    <add name="liveConnString" connectionString="Server=.\PlayLift;Database=;Trusted_Connection=false;uid=trm_ADMIN;pwd=13webstreet$1" />
    <add name="testConnString" connectionString="Server=(local);Database=PlayLift;Trusted_Connection=true" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WebService.WCFWebServiceJson">
        <host>
          <baseAddresses>
            <add baseAddress="http://test.playlift.co.uk"/>
          </baseAddresses>
        </host>
        <endpoint address="/" behaviorConfiguration="WebService.WCFWebServiceJsonAspNetAjaxBehavior"
              binding="basicHttpBinding" contract="WebService.IWCFWebServiceJson" />
        <endpoint address="http://test.playlift.co.uk" behaviorConfiguration="WebService.WCFWebServiceJsonAspNetAjaxBehavior"
          binding="basicHttpBinding" contract="WebService.IWCFWebServiceJson" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebService.WCFWebServiceJsonAspNetAjaxBehavior">
          <enableWebScript />
          <CorsSupport />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WCFWebServiceJson" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding" transactionFlow="true" />
      </wsHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="CorsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0">
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <Infrastructure.Properties.Settings>
      <setting name="AWSAccessKeyId" serializeAs="String">
        <value>AKIAJCHWEMYQ5UXHOWSQ</value>
      </setting>
      <setting name="AWSSecretAccessKey" serializeAs="String">
        <value>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</value>
      </setting>
      <setting name="UploadFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="UploadKeyName" serializeAs="String">
        <value />
      </setting>
      <setting name="UploadContentType" serializeAs="String">
        <value />
      </setting>
      <setting name="UploadMakePublic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DownloadBucketName" serializeAs="String">
        <value>trmstream</value>
      </setting>
      <setting name="DownloadKeyName" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="UploadBucketName" serializeAs="String">
        <value>trmstream</value>
      </setting>
      <setting name="UploadBucketNameTest" serializeAs="String">
        <value>trmstreamtest</value>
      </setting>
      <setting name="DownloadBucketName" serializeAs="String">
        <value>trmmaster</value>
      </setting>
      <setting name="DownloadBucketNameTest" serializeAs="String">
        <value>trmmastertest</value>
      </setting>
      <setting name="MasterBucketName" serializeAs="String">
        <value>trmmaster</value>
      </setting>
      <setting name="MasterBucketNameTest" serializeAs="String">
        <value>trmmastertest</value>
      </setting>
    </Infrastructure.Properties.Settings>
  </userSettings>
</configuration>